BasedOnStyle: llvm

IndentWidth: 4
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
DerivePointerAlignment: false
IncludeBlocks: Preserve
IndentCaseLabels: false
PointerAlignment: Left
ReflowComments: false
SortIncludes: true
SpacesBeforeTrailingComments: 1
